apiVersion: v1
kind: Service
metadata:
  name: nats
  namespace: ai-trader
  labels:
    app: nats
spec:
  clusterIP: None
  ports:
    - name: client
      port: 4222
      targetPort: 4222
    - name: cluster
      port: 6222
      targetPort: 6222
    - name: monitor
      port: 8222
      targetPort: 8222
  selector:
    app: nats
---
apiVersion: v1
kind: Service
metadata:
  name: nats-lb
  namespace: ai-trader
  labels:
    app: nats
spec:
  type: ClusterIP
  ports:
    - name: client
      port: 4222
      targetPort: 4222
  selector:
    app: nats
